:root {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.search-input {
  width: 400px;
  border: 2px solid #0f47c9;
  border-radius: 10px;
  height: 35px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}

.photo {
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: 0 10px 10px 0;
}

.heart {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.heart:hover {
  width: 35px;
  height: 35px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigate {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.button {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
}


a {
  text-decoration: none !important;
  color: #0f47c9;
}

a:hover {
  text-decoration: none;
  font-weight: 900;
  color: #99b4ee;
}

.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border: 3px solid #0f47c9;
  border-radius: 10px;
}

.form {
  width: 400px;
  margin: 0 auto;
  margin-top: 160px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0dcaf0;
}

.red {
  color: red;
}

.switchForm {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: red;
  cursor: pointer;
}

.switchForm:hover {
  color: rgb(128, 13, 13);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


@media screen and (min-width: 320px) and (max-width: 510px) {
  .navigate {
    flex-direction: column;
    width: 75px;
  }

  .button {
    font-size: 16px;
  }

  a {
    font-size: 16px;
  }

  a:hover {
    font-size: 16px;
  }

  .sign-in {
    border: 2px solid #0f47c9;
  }

  .search-input {
    margin: 3px;
    width: 100px;
  }

  .photo {
    width: 130px;
    height: 130px;
  }
}

@media screen and (min-width: 510px) and (max-width: 820px) {
  .navigate {
    width: 190px;
  }

  .button {
    font-size: 16px;
  }

  a {
    font-size: 16px;
  }

  a:hover {
    font-size: 18px;
  }

  .sign-in {
    padding: 0 3px;
    border: 2px solid #0f47c9;
  }

  .search-input {
    width: 200px;
  }

  .photo {
    width: 200px;
    height: 200px;
  }
}