.main {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.header button {
  margin: 5px;
}

.header a {
  text-decoration: none;
  color: white;
}

.photos {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.photosField {
  display: flex;
  flex-wrap: wrap;
}

.photo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0 10px 10px 0;
}

.form-select {
  margin: 10px;
}

.plus {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.plus:hover {
  background-color: rgb(206, 222, 252);
}